alabaster==0.7.6
blist
codecov
coverage
dogpile==0.2.2
dogpile.cache==0.5.6
dogpile.core==0.4.1
enum34
Jinja2>=2.7.3
lockfile>=0.11
mongomock==3.0.0
msgpack-python==0.4.6
nose
nose-timer
nose-exclude
redis==2.10.3
requests==2.3.0
six==1.9.0
Sphinx<=1.2.99
sphinxcontrib-napoleon>=0.3.0
testrepository>=0.0.18
thrift==0.9.2
twisted>=15.4.0
