; define KBase service endpoints for each deployment destination

[data_api.kbase.test]
workspace_service_url=../test_resources/data
shock_service_url=https://ci.kbase.us/services/shock-api/
taxon_service_url=http://localhost:9101
assembly_service_url=http://localhost:9102

[data_api.service_logs]
syslog=True

[object_api]
service-port=9100
pidfile=objectAPI.pid

[taxon_api]
service-port=9101
pidfile=taxonAPI.pid

[assembly_api]
service-port=9102
pidfile=assemblyAPI.pid

[genomeannotation_api]
service-port=9103
pidfile=genomeannotationAPI.pid

